### Assignment 2
Welcome to Assignment 2. This will be fun. It is the first time you actually access external data from ApacheSpark. 

Just make sure you hit the play button on each cell from top to down. There are three functions you have to implement. Please also make sure than on each change on a function you hit the play button again on the corresponding cell to make it available to the rest of this notebook.

##### Please also make sure to only implement the function bodies and DON'T add any additional code outside functions since this might confuse the autograder.

So the function below is used to make it easy for you to create a data frame from a cloudant data frame using the so called "DataSource" which is some sort of a plugin which allows ApacheSpark to use different data sources.

This is the first function you have to implement. You are passed a dataframe object. We've also registered the dataframe in the ApacheSparkSQL catalog - so you can also issue queries against the "washing" table using "spark.sql()". Hint: To get an idea about the contents of the catalog you can use: spark.catalog.listTables().
So now it's time to implement your first function. You are free to use the dataframe API, SQL or RDD API. In case you want to use the RDD API just obtain the encapsulated RDD using "df.rdd". You can test the function by running one of the three last cells of this notebook, but please make sure you run the cells from top to down since some are dependant of each other...

In [14]:
def count(df,spark):
    #TODO Please enter your code here
    return df.count()

No it's time to implement the second function. Please return an integer containing the number of fields. The most easy way to get this is using the dataframe API. Hint: You might find the dataframe API documentation useful: http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrame

In [15]:
def getNumberOfFields(df,spark):
    #TODO Please enter your code here
    return len(df.columns)

Finally, please implement a function which returns a (python) list of string values of the field names in this data frame. Hint: Just copy&past doesn't work because the auto-grader will create a random data frame for testing, so please use the data frame API as well. Again, this is the link to the documentation: http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrame

In [16]:
def getFieldNames(df,spark):
    #TODO Please enter your code here
    return df.columns

### PLEASE DON'T REMOVE THIS BLOCK - THE FOLLOWING CODE IS NOT GRADED
#axx
### PLEASE DON'T REMOVE THIS BLOCK - THE FOLLOWING CODE IS NOT GRADED
So after this block you can basically do what you like since the auto-grader is not considering this part of the notebook

Now it is time to connect to the cloudant database. Please have a look at the Video "Overview of end-to-end scenario" of Week 2 starting from 6:40 in order to learn how to obtain the credentials for the database. Please paste this credentials as strings into the below code

### TODO Please provide your Cloudant credentials here

In [3]:
### TODO Please provide your Cloudant credentials here by creating a connection to Cloudant and insert the code
credentials_1 = dict()
credentials_1['username'] = '9f7400f1-a47d-4030-b242-da4afd61f53a-bluemix'
credentials_1['password'] = 'c5086d984b9bcac6d7da1f742881db545a7e9889a50d83ab72783e962e5b8231'
credentials_1['custom_url'] = 'https://9f7400f1-a47d-4030-b242-da4afd61f53a-bluemix:c5086d984b9bcac6d7da1f742881db545a7e9889a50d83ab72783e962e5b8231@9f7400f1-a47d-4030-b242-da4afd61f53a-bluemix.cloudant.com'
### Please have a look at the latest video "Connect to Cloudant/CouchDB from ApacheSpark in Watson Studio" on https://www.youtube.com/c/RomeoKienzler
database = "washing" #as long as you didn't change this in the NodeRED flow the database name stays the same

In [4]:
#Please don't modify this function
def readDataFrameFromCloudant(database):
    cloudantdata=spark.read.load(database, "com.cloudant.spark")

    cloudantdata.createOrReplaceTempView("washing")
    spark.sql("SELECT * from washing").show()
    return cloudantdata

In [5]:
spark = SparkSession\
    .builder\
    .appName("Cloudant Spark SQL Example in Python using temp tables")\
    .config("cloudant.host",credentials_1['custom_url'].split(':')[2].split('@')[1])\
    .config("cloudant.username", credentials_1['username'])\
    .config("cloudant.password",credentials_1['password'])\
    .config("jsonstore.rdd.partitions", 1)\
    .getOrCreate()

In [6]:
df=readDataFrameFromCloudant(database)

+--------------------+--------------------+-----+--------+----------+---------+--------+-----+-----------+-------------+-------+
|                 _id|                _rev|count|flowrate|fluidlevel|frequency|hardness|speed|temperature|           ts|voltage|
+--------------------+--------------------+-----+--------+----------+---------+--------+-----+-----------+-------------+-------+
|0666a3042b7595671...|1-254ba596c2f0665...|    6|      11|acceptable|     null|      79| null|         84|1544876029318|   null|
|0666a3042b7595671...|1-e402bd3d1de3518...|    3|    null|      null|       71|    null| null|       null|1544876032318|    233|
|0666a3042b7595671...|1-8fa14004a49e902...|    5|    null|      null|       74|    null| null|       null|1544876038319|    233|
|0666a3042b7595671...|1-3e01c3a4a132134...|   17|      11|acceptable|     null|      75| null|         93|1544876040338|   null|
|0666a3042b7595671...|1-405aba55b8aaf3d...|   32|      11|acceptable|     null|      73| null|         90|1544876055366|   null|
|0666a3042b7595671...|1-0a51b49b174f504...|   42|      11|acceptable|     null|      73| null|         94|1544876065380|   null|
|0666a3042b7595671...|1-7e3208db9781f17...|   52|      11|acceptable|     null|      77| null|        100|1544876075400|   null|
|0666a3042b7595671...|1-9569edfb61cbc9c...|   57|      11|acceptable|     null|      74| null|         86|1544876080411|   null|
|0666a3042b7595671...|1-d8924ebf2333e76...|   62|      11|acceptable|     null|      72| null|        100|1544876085426|   null|
|0666a3042b7595671...|1-89b539bc56b6df2...|   67|      11|acceptable|     null|      76| null|         94|1544876090437|   null|
|0666a3042b7595671...|1-dc23bf774bb18e9...|  110|      11|acceptable|     null|      73| null|         85|1544876133547|   null|
|0666a3042b7595671...|1-ea0ebe903adec9f...|   39|    null|      null|       74|    null| null|       null|1544876140425|    227|
|0666a3042b7595671...|1-6e83ba77c0b9236...|  121|      11|acceptable|     null|      70| null|         91|1544876144570|   null|
|0666a3042b7595671...|1-c3631d7e6151344...|   27|    null|      null|     null|    null| 1003|       null|1544876158366|   null|
|0666a3042b7595671...|1-019d5fa54445e89...|  140|      11|acceptable|     null|     195| null|         88|1544876163618|   null|
|0666a3042b7595671...|1-86c7b3ddd4179f5...|   48|    null|      null|       79|    null| null|       null|1544876167440|    222|
|0666a3042b7595671...|1-42a1faa5f7b95f7...|  148|      11|acceptable|     null|      76| null|         83|1544876171638|   null|
|0666a3042b7595671...|1-7525cb2e7d5f4c0...|  153|      11|acceptable|     null|      77| null|         80|1544876176650|   null|
|0666a3042b7595671...|1-ee63d8999248464...|  158|      11|acceptable|     null|      80| null|         86|1544876181657|   null|
|0666a3042b7595671...|1-1bea9cf2d33bb1f...|   33|    null|      null|     null|    null| 1067|       null|1544876188381|   null|
+--------------------+--------------------+-----+--------+----------+---------+--------+-----+-----------+-------------+-------+
only showing top 20 rows

The following cell can be used to test your count function

In [17]:
count(df,spark)

1636

The following cell can be used to test your getNumberOfFields function

In [18]:
getNumberOfFields(df,spark)

11

The following cell can be used to test your getFieldNames function

In [19]:
getFieldNames(df,spark)

['_id',
 '_rev',
 'count',
 'flowrate',
 'fluidlevel',
 'frequency',
 'hardness',
 'speed',
 'temperature',
 'ts',
 'voltage']

Congratulations, you are done. So please export this notebook as python script using the "File->Download as->Python (.py)" option in the menue of this notebook. This file should be named "assignment2.1.py" and uploaded to the autograder of week2.