# Assignment 3

Welcome to Assignment 3. This will be even more fun. Now we will calculate statistical measures on the test data you have created.

YOU ARE NOT ALLOWED TO USE ANY OTHER 3RD PARTY LIBRARIES LIKE PANDAS. PLEASE ONLY MODIFY CONTENT INSIDE THE FUNCTION SKELETONS
Please read why: https://www.coursera.org/learn/exploring-visualizing-iot-data/discussions/weeks/3/threads/skjCbNgeEeapeQ5W6suLkA
. Just make sure you hit the play button on each cell from top to down. There are seven functions you have to implement. Please also make sure than on each change on a function you hit the play button again on the corresponding cell to make it available to the rest of this notebook.
Please also make sure to only implement the function bodies and DON'T add any additional code outside functions since this might confuse the autograder.

So the function below is used to make it easy for you to create a data frame from a cloudant data frame using the so called "DataSource" which is some sort of a plugin which allows ApacheSpark to use different data sources.

All functions can be implemented using DataFrames, ApacheSparkSQL or RDDs. We are only interested in the result. You are given the reference to the data frame in the "df" parameter and in case you want to use SQL just use the "spark" parameter which is a reference to the global SparkSession object. Finally if you want to use RDDs just use "df.rdd" for obtaining a reference to the underlying RDD object. 

Let's start with the first function. Please calculate the minimal temperature for the test data set you have created. We've provided a little skeleton for you in case you want to use SQL. You can use this skeleton for all subsequent functions. Everything can be implemented using SQL only if you like.

In [1]:
def minTemperature(df,spark):
    row = df.agg({'temperature': 'min'}).collect()[0]
    min_temp = row['min(temperature)']
    return min_temp

Please now do the same for the mean of the temperature

In [2]:
def meanTemperature(df,spark):
    row = df.agg({'temperature': 'avg'}).collect()[0]
    avg_temp = row['avg(temperature)']
    return avg_temp

Please now do the same for the maximum of the temperature

In [3]:
def maxTemperature(df,spark):
    row = df.agg({'temperature': 'max'}).collect()[0]
    max_temp = row['max(temperature)']
    return max_temp

Please now do the same for the standard deviation of the temperature

In [22]:
from  math import sqrt

def sdTemperature(df,spark):
    temprddrow = df.select('temperature').rdd #in row(temp=x) format
    temprdd = temprddrow.map(lambda (x) : x["temperature"]) #only numbers
    temp = temprdd.filter(lambda x: x is not None).filter(lambda x: x != "") #remove None params
    n = float(temp.count())
    sum=temp.sum()
    mean =sum/n
    from math import sqrt
    sd=sqrt(temp.map(lambda x : pow(x-mean,2)).sum()/n)
    return sd

Please now do the same for the skew of the temperature. Since the SQL statement for this is a bit more complicated we've provided a skeleton for you. You have to insert custom code at four position in order to make the function work. Alternatively you can also remove everything and implement if on your own. Note that we are making use of two previously defined functions, so please make sure they are correct. Also note that we are making use of python's string formatting capabilitis where the results of the two function calls to "meanTemperature" and "sdTemperature" are inserted at the "%s" symbols in the SQL string.

In [31]:
def skewTemperature(df,spark):
    temprddrow = df.select('temperature').rdd #in row(temp=x) format
    temprdd = temprddrow.map(lambda (x) : x["temperature"]) #only numbers
    temp = temprdd.filter(lambda x: x is not None).filter(lambda x: x != "")  #remove None params
    n = float(temp.count())
    sum=temp.sum()
    mean =sum/n
    from math import sqrt
    sd=sqrt(temp.map(lambda x : pow(x-mean,2)).sum()/n)
    skew=n*(temp.map(lambda x:pow(x-mean,3)/pow(sd,3)).sum())/(float(n-1)*float(n-2))
    return skew

Kurtosis is the 4th statistical moment, so if you are smart you can make use of the code for skew which is the 3rd statistical moment. Actually only two things are different.

In [32]:
def kurtosisTemperature(df,spark):
    temprddrow = df.select('temperature').rdd
    temprdd = temprddrow.map(lambda (x) : x["temperature"])
    temp = temprdd.filter(lambda x: x is not None).filter(lambda x: x != "")
    n = float(temp.count())
    sum=temp.sum()
    mean =sum/n
    from math import sqrt
    sd=sqrt(temp.map(lambda x : pow(x-mean,2)).sum()/n)
    kurtosis=temp.map(lambda x:pow(x-mean,4)).sum()/(pow(sd,4)*(n))
    return kurtosis

Just a hint. This can be solved easily using SQL as well, but as shown in the lecture also using RDDs.

In [33]:
from pyspark.mllib.stat import Statistics

def correlationTemperatureHardness(df,spark):
    column1 = df.select('temperature').rdd.map(lambda x: x['temperature']).filter(lambda x: x is not None).filter(lambda x: x != '')
    column2 = df.select('hardness').rdd.map(lambda x: x['hardness']).filter(lambda x: x is not None).filter(lambda x: x != '')
    data = column1.zip(column2)
    corr_matrix = Statistics.corr(data)
    
    return corr_matrix[1][0]

### PLEASE DON'T REMOVE THIS BLOCK - THE FOLLOWING CODE IS NOT GRADED
#axx
### PLEASE DON'T REMOVE THIS BLOCK - THE FOLLOWING CODE IS NOT GRADED

Now it is time to connect to the cloudant database. Please have a look at the Video "Overview of end-to-end scenario" of Week 2 starting from 6:40 in order to learn how to obtain the credentials for the database. Please paste this credentials as strings into the below code

### TODO Please provide your Cloudant credentials here

In [34]:
### TODO Please provide your Cloudant credentials here by creating a connection to Cloudant and insert the code
credentials_1 = dict()
credentials_1['username'] = '9f7400f1-a47d-4030-b242-da4afd61f53a-bluemix'
credentials_1['password'] = 'c5086d984b9bcac6d7da1f742881db545a7e9889a50d83ab72783e962e5b8231'
credentials_1['custom_url'] = 'https://9f7400f1-a47d-4030-b242-da4afd61f53a-bluemix:c5086d984b9bcac6d7da1f742881db545a7e9889a50d83ab72783e962e5b8231@9f7400f1-a47d-4030-b242-da4afd61f53a-bluemix.cloudant.com'
### Please have a look at the latest video "Connect to Cloudant/CouchDB from ApacheSpark in Watson Studio" on https://www.youtube.com/c/RomeoKienzler
database = "washing" #as long as you didn't change this in the NodeRED flow the database name stays the same

In [35]:
#Please don't modify this function
def readDataFrameFromCloudant(database):
    cloudantdata=spark.read.load(database, "com.cloudant.spark")

    cloudantdata.createOrReplaceTempView("washing")
    spark.sql("SELECT * from washing").show()
    return cloudantdata

In [36]:
spark = SparkSession\
    .builder\
    .appName("Cloudant Spark SQL Example in Python using temp tables")\
    .config("cloudant.host",credentials_1['custom_url'].split(':')[2].split('@')[1])\
    .config("cloudant.username", credentials_1['username'])\
    .config("cloudant.password",credentials_1['password'])\
    .config("jsonstore.rdd.partitions", 1)\
    .getOrCreate()

In [37]:
df=readDataFrameFromCloudant(database)

+--------------------+--------------------+-----+--------+----------+---------+--------+-----+-----------+-------------+-------+
|                 _id|                _rev|count|flowrate|fluidlevel|frequency|hardness|speed|temperature|           ts|voltage|
+--------------------+--------------------+-----+--------+----------+---------+--------+-----+-----------+-------------+-------+
|0666a3042b7595671...|1-254ba596c2f0665...|    6|      11|acceptable|     null|      79| null|         84|1544876029318|   null|
|0666a3042b7595671...|1-e402bd3d1de3518...|    3|    null|      null|       71|    null| null|       null|1544876032318|    233|
|0666a3042b7595671...|1-8fa14004a49e902...|    5|    null|      null|       74|    null| null|       null|1544876038319|    233|
|0666a3042b7595671...|1-3e01c3a4a132134...|   17|      11|acceptable|     null|      75| null|         93|1544876040338|   null|
|0666a3042b7595671...|1-405aba55b8aaf3d...|   32|      11|acceptable|     null|      73| null|         90|1544876055366|   null|
|0666a3042b7595671...|1-0a51b49b174f504...|   42|      11|acceptable|     null|      73| null|         94|1544876065380|   null|
|0666a3042b7595671...|1-7e3208db9781f17...|   52|      11|acceptable|     null|      77| null|        100|1544876075400|   null|
|0666a3042b7595671...|1-9569edfb61cbc9c...|   57|      11|acceptable|     null|      74| null|         86|1544876080411|   null|
|0666a3042b7595671...|1-d8924ebf2333e76...|   62|      11|acceptable|     null|      72| null|        100|1544876085426|   null|
|0666a3042b7595671...|1-89b539bc56b6df2...|   67|      11|acceptable|     null|      76| null|         94|1544876090437|   null|
|0666a3042b7595671...|1-dc23bf774bb18e9...|  110|      11|acceptable|     null|      73| null|         85|1544876133547|   null|
|0666a3042b7595671...|1-ea0ebe903adec9f...|   39|    null|      null|       74|    null| null|       null|1544876140425|    227|
|0666a3042b7595671...|1-6e83ba77c0b9236...|  121|      11|acceptable|     null|      70| null|         91|1544876144570|   null|
|0666a3042b7595671...|1-c3631d7e6151344...|   27|    null|      null|     null|    null| 1003|       null|1544876158366|   null|
|0666a3042b7595671...|1-019d5fa54445e89...|  140|      11|acceptable|     null|     195| null|         88|1544876163618|   null|
|0666a3042b7595671...|1-86c7b3ddd4179f5...|   48|    null|      null|       79|    null| null|       null|1544876167440|    222|
|0666a3042b7595671...|1-42a1faa5f7b95f7...|  148|      11|acceptable|     null|      76| null|         83|1544876171638|   null|
|0666a3042b7595671...|1-7525cb2e7d5f4c0...|  153|      11|acceptable|     null|      77| null|         80|1544876176650|   null|
|0666a3042b7595671...|1-ee63d8999248464...|  158|      11|acceptable|     null|      80| null|         86|1544876181657|   null|
|0666a3042b7595671...|1-1bea9cf2d33bb1f...|   33|    null|      null|     null|    null| 1067|       null|1544876188381|   null|
+--------------------+--------------------+-----+--------+----------+---------+--------+-----+-----------+-------------+-------+
only showing top 20 rows

In [38]:
minTemperature(df,spark)

80

In [39]:
meanTemperature(df,spark)

90.0214789812826

In [40]:
maxTemperature(df,spark)

100

In [41]:
sdTemperature(df,spark)

6.07022664909931

In [42]:
skewTemperature(df,spark)

-0.032023391182772976

In [43]:
kurtosisTemperature(df,spark)

1.791592507257862

In [44]:
correlationTemperatureHardness(df,spark)

-0.0046352641433450538

Congratulations, you are done, please download this notebook as python file using the export function and submit is to the gader using the filename "assignment3.1.py"